	margin:0px;
	padding: 0px;
}
html{
	font-size:100px;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.14rem;
    color:#000;
	opacity:0;
}
.swiper-container {
    width: 6.4rem;
    height:100%;
    overflow: hidden;
}
.swiper-slide{
    width: 6.40rem;
    height:100%;
    overflow: hidden;
}
.swiper-slide{
	position: relative;
	}
.topdir{
    height: 1rem;
    width: 1rem;
    /*position: absolute;
    bottom: 0.78rem;
    left: 2.94rem;*/

}
.topdir>img{
	display: block;
	height: 0.5rem;
    width: 0.6rem;
    position: absolute;
    bottom: 0.9rem;
    left: 2.94rem;
	animation: di 2s linear infinite;
}
@-webkit-keyframes di{
	0%{bottom: 0.3rem;
    left: 2.94rem;};
	50%{bottom: 2.2rem;
    left: 2.94rem;};
	100%{bottom: 0.3rem;
    left: 2.94rem;};
}	
#box{width: 6.40rem;height: 4.80rem;position: absolute;top: 1.00rem;overflow: hidden;}
#box img{width: 6.40rem;height: 4.80rem;position: absolute;left: 0px;top: 0px;pointer-events: none;display: none;}
#box img:nth-child(1){display: block;}
.demo{
    -webkit-animation:2s 0s linear infinite normal;
	-webkit-animation-name:demo;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:2s 0s linear infinite normal;
	-moz-animation-name:demo;
	-moz-animation-fill-mode:forwards;
}
.img{
    -webkit-animation:2s 0s linear infinite normal;
	-webkit-animation-name:demo;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:2s 0s linear infinite normal;
	-moz-animation-name:demo;
	-moz-animation-fill-mode:forwards;
}
@-webkit-keyframes demo{
	0%{
		-webkit-transform:rotate(0deg);
			
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@-moz-keyframes demo{
	0%{
		-moz-transform:rotate(0deg);

	}
	100%{
		-moz-transform:rotate(360deg);
	}
}
.music{
	height: 0.90rem;
	width: 0.70rem;
	z-index: 8;
	position: absolute;
	right: 0.25rem;
	bottom: 4.00rem;
}
.music>img{
	display: block;
	height: 0.90rem;
	width: 0.70rem;
}	
/*手势*/
.position1{
	left: 3.82rem;
    top: 1.65rem;
    -webkit-animation:1s 0s ease-in infinite normal;
	-webkit-animation-name:leftRight;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:1s 0s ease-in infinite normal;
	-moz-animation-name:leftRight;
	-moz-animation-fill-mode:forwards;
}
@-webkit-keyframes leftRight{
	0%{
       left: 3.82rem;
       top: 1.65rem;
	}
	100%{
       left: 3.62rem;
       top: 1.35rem;
	}
}
@-moz-keyframes leftRight{
	0%{
		left: 3.82rem;
		top: 1.65rem;
	}
	100%{
		left: 3.62rem;
		top: 1.35rem;
	}
}
.position2{
	bottom: 0.58rem;
	left:2.32rem;
	-webkit-animation:1s 0s ease-in infinite normal;
	-webkit-animation-name:leftRight2;
	-webkit-animation-fill-mode:forwards; 
}
@-webkit-keyframes leftRight2{
	0%{
       bottom: 0.58rem;
	   left:2.32rem;
	}
	100%{
       bottom: 0.78rem;
	   left:1.82rem;
	}
}
@-moz-keyframes leftRight2{
	0%{
		bottom: 0.58rem;
		left:2.32rem;
	}
	100%{
		bottom: 0.78rem;
		left:1.82rem;
	}
}
.slider1{
	background: url(../img/pic4.png);
	background-size: 100% 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.sign{
	margin-top: 9%;
	padding: 0 8%;
	width: 1.68rem;
	height: 0.6rem;
}
.sign img{
	display: block;
	width: 100%;
}
.circle1{
	position: absolute;
	left: 0.2rem;
	top: 0.5rem;
}
.circle1 img{
	display: block;
	width: 100%;
}
.circle2{
	position: absolute;
	left: 0.2rem;
	top: 0.5rem;
}
.circle2 img{
	display: block;
	width: 100%;
}
.rotate{
	width: 3.6rem;
	height: 3.6rem;
	position: absolute;
	left: 1.44rem;
	top: 2.122rem;
	overflow: hidden;
}
.rotate img{
	display: block;
	width: 100%;
}
.circleL{
	position: absolute;
	left: 0.2rem;
	top: 0.3rem;
}
.circleL img{
	display: block;
	width: 100%;
}
.circleR{
	position: absolute;
	left: 0.2rem;
	top: 0.5rem;
}
.circleR img{
	display: block;
	width: 100%;
}
.car{
	width: 6.4rem;
	height: 5.25rem;
	position: absolute;
	bottom: 0rem;
	overflow: hidden;
}
.car img{
	width: 100%;
}


.slider2{
	background: url(../img/twoback.png);
	background-size: 100% 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.s21{
	text-align: center;
	margin-top: 25%;
}
.s21 img{
	width: 60%;
}
.s22{
	text-align: center;
	margin-top: 45%;
}
.s22 img{
	width: 85%;
}



/*第三张*/
.slider3{
	width: 6.4rem;
	background: url(../img/twopic2.png);
	background-size: 100% 100%;
/*	background-size: cover;*/
	height: 100%;
	overflow: hidden;
	position: relative;
}
/*下划线*/
.font{
    width: 2.65rem;
    height: 0.60rem;
    line-height: 0.60rem;
    font-size: 0.48rem;
    font-family: "微软雅黑";
	border-bottom: 1px solid black;
}


.slider3>div:nth-child(1){
	width: 4rem;
	height: 3rem;
	position: absolute;
	left: 0.5rem;
	top: 0.7rem;
}
.slider3>div:nth-child(1)>img{
	width: 59%;
	display: block;
}
.slider3>div:nth-child(2){
	width: 3.7rem;
	height: 3rem;	
	position: absolute;
	left: 0.5rem;
	top: 0.7rem;
}
.slider3>div:nth-child(2)>img{
	width: 64%;
	display: block;
}
.slider3>div:nth-child(3){
	width: 2.3rem;
	height: 2.3rem;
	position: absolute;
	left: 0.5rem;
	top: 0.7rem;
}
.slider3>div:nth-child(3)>img{
	width: 2.3rem;
	height: 2.3rem;
/*	width: 63%;*/
	display: block;
}
.slider3>div:nth-child(4){
	position: absolute;
	left: 3.2rem;
	top: 1.2rem;
	z-index: 2;
}
.slider3>div:nth-child(6){
	position: absolute;
	left: 0.8rem;
	top: 3.4rem;
	z-index: 2;
}
.slider3>div:nth-child(5){
	position: absolute;
	left: 2.5rem;
	top: 2.4rem;
	z-index: 2;
}
.hand {
	width: 0.7rem;
	height: 0.8rem;
	background: url(../img/hand.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 2;
}
.hand>img{
	display: block;
	width: 0.7rem;
	height: 0.8rem;
}
.carf{
	width: 15rem;
	height: 9.8rem;
	background: url(../img/bigcar.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left: -2.6rem;
	top: 3rem;
}
.biglight{
	width: 3.5rem;
	height: 4.5rem;
	background: url(../img/bigcarlight.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left: 4rem;
	top: 3.6rem;
	display: none;
}

.slider4{
	width: 6.4rem;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: black;
}
.s4car{
	text-align: center;
	font-family: "微软雅黑";
	color: white;
	font-size: 0.4rem;
	line-height: 0.6rem;
	margin-top: 0.2rem;
}
#box{
	width: 6.4rem;
	height: 4.8rem;
	position: absolute;
	top: 1rem;
	text-align: center;
	overflow: hidden;
}
#box img{
	width: 6.4rem;
	height: 4.8rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
	pointer-events: none;
	display: none;
}
#box img>nth-child(1){
	display: block;
}
.sll{
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 2.5rem;
	top: 5rem;
}
.sll img{
	width: 1rem;
	height: 1rem;
	display: block;
}
.jia{
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 1.4rem;
	top: 6rem;
}
.jia img{
	width: 1rem;
	height: 1rem;
	display: block;
}
.jian{
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 3.4rem;
	top: 6rem;
}
.jian img{
	width: 1rem;
	height: 1rem;
	display: block;
}
.slider5{
	width: 6.4rem;
	height: 100%;
	background: url(../img/threepic1.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.sa{
	width: 6.4rem;
	height: 2rem;
	position: absolute;
	left: 0.6rem;
	top: 1.2rem;
	z-index: 2;
}
.sa img{
	display: block;
	width: 3.65rem;
	height: 0.6rem;	
}
.sun{
	width: 6.4rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: -1.5rem;
	z-index: 2;
}
.sun img{
	display: block;	
}
.sb{
	width: 5rem;
	height: 1.5rem;
	position: absolute;
	left: 0.6rem;
	top: 2.5rem;
	z-index: 2;
}
.sb img{
	display: block;
	width: 5rem;
	height: 1.3rem;
}
.threepic2{
	width: 6.4rem;
	height: 6rem;
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	z-index: 2;
}
.threepic2 img{
	display: block;
	width: 7rem;
	height: 6rem;	
}
.q{
	width: 6.4rem;
	height: 4rem;
	position: absolute;
	left: 0.5rem;
	top: 1.5rem;
	z-index: 2;
	display: none;
}
.q img{
	display: block;
	width: 5.4rem;
	height: 3.5rem;
	
}
.w{
	width: 6.4rem;
	height: 4rem;
	position: absolute;
	left: 0rem;
	top: 5.5rem;
	z-index: 2;
	display: none;
}
.w img{
	display: block;
	width: 6.4rem;
	height: 4rem;

}
.e{
	
	width: 6.4rem;
	height: 4rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 2;
	display: none;
}
.e img{
	display: block;
	width: 6.4rem;
	height: 4rem;

}
.r{
	width: 6.4rem;
	height: 4rem;
	position: absolute;
	left: 0rem;
	bottom:0rem;
	z-index: 2;
	display: none;
}
.r img{
	display: block;
	width: 6.4rem;
	height: 4rem;
	
}
.slider6{
	width: 6.4rem;
	height: 100%;
	background: url(../img/threepic1.png);
	background-size: 100% 100%;
	position: relative;
}
.back{
	width: 6.4rem;
	height: 100%;
	background: black;
	opacity: 0.8;
	position: absolute;
}
.fourbc{
	position: absolute;
	left: 2rem;
	top: 2.5rem;
	z-index: 2;
}
.fourbc img{
	width: 2rem;
	height: 2rem;
	display: block;
}
.clickw{
	width: 2rem;
	height: 2rem;
	/*color: #000000;*/
	font-size: 0.4rem;
	line-height: 2rem;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	left: 2rem;
	top: 2.5rem;
	z-index: 3;
}
.slider7{
	width: 6.4rem;
	height: 100%;
	background:black;
	background-size: 100% 100%;
	position: relative;
}
.s71{
	position: absolute;
	left: 0;
	top: 0;
}
.s71 img{
	display: block;
	width: 100%;
	height: 100%;
}
.con{
	position: absolute;
	left: 0;
	bottom: 0;
}
.con img{
	width: 85%;
	height: 100%;
	display: block;
}
.slider8{
	width: 6.4rem;
	height: 100%;
	background: url(../img/sixpic1s.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.s81{
	width: 100%;
	position:absolute ;
}
.s81 img{
	width: 100%;
	height: 100%;
	display: block;
}
.s82{
	width: 100%;
	position:absolute ;
	left: 0rem;
	top: 4rem;
}
.s82 img{
	width: 100%;
	height: 100%;
	display: block;
}
.s83{
	width: 100%;
	position:absolute ;
	left: 0rem;
	top: 7.4rem;
}
.s83 img{
	width: 100%;
	height: 100%;
	display: block;
}
.s84{
	width: 100%;
	position:absolute ;
	left: 0;
	top: 0;
}
.s84 img{
	width: 100%;
	height: 100%;
	display: block;
}
.slider9{
	width: 6.4rem;
	height: 100%;
	background: url(../img/pic4.png);
	background-size: 100% 100%;
	position: relative;
}
.s91{
	width: 100%;
	position:absolute ;
}
.s91 img{
	width: 100%;
	height: 100%;
	display: block;
}
.s92{
	width: 100%;
	position:absolute ;
	left: 0rem;
	top: 3.7rem;
}
.s92 img{
	width: 100%;
	height: 100%;
	display: block;
}
.s93{
	width: 121%;
	position:absolute ;
	left: 0rem;
	top: 7.4rem;
}
.s93 img{
	width: 100%;
	height: 100%;
	display: block;
}
.slider10{
	width: 6.4rem;
	height: 100%;
	background: url(../img/eightbc.png);
	background-size: 100% 100%;
	position: relative;
}
.s101{
	font-family: "微软雅黑";
	font-size: 0.5rem;
	line-height: 2rem;
	text-align: center;
	position: absolute;
	top: 1.4rem;
	left: 1.8rem;
}
form{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 3.2rem;
} 
.input{
	width:100%;
	height: 0.5rem;
	margin-top: 0.2rem;
/*	margin-left: 0.6rem;*/
}
.input label{
	font-family: "微软雅黑";
	font-size: 0.3rem;
}
.input input{
	width: 3.5rem;
	height: 0.45rem;
	border: 1px solid #a5aeb7;
	outline: none;
	background-color: #c7ddef;
	font-size: 0.24rem;
	margin-left: 0.2rem;
}
.sends{
	display: block;
	text-align: center;
	width: 3rem;
	height: 0.5rem;
	margin-top: 0.5rem;
	margin-left: 1.8rem;
	font-size: 0.36rem;
	background-color: #FF6600;
	border: none;
	outline: none;
	border-radius: 0.1rem;
}









